@layer base {
  a {
    @apply cursor-pointer;
  }
  h1 {
    @apply text-lg font-bold tracking-tight;
  }
  button {
    @apply text-sm bg-foreground text-background px-4 rounded-md
      hover:bg-gray-800
      cursor-pointer
      transition-all
      active:translate-y-0.5
      font-semibold;
  }
  input {
    @apply border 
    bg-background 
    border-gray-200 
    p-2 px-3 pr-0 rounded-lg 
    font-medium tracking-tight 
    transition-all 
    focus:outline-4 
    outline-gray-100 
    text-foreground-input;
  }
}

@layer components {
  .tab {
    @apply flex w-full sm:w-auto flex-col sm:flex-row p-1 rounded-md text-sm bg-[#ECEFF4] select-none;
    & > div {
      @apply px-5 p-1.5 text-slate-500 font-semibold text-nowrap cursor-pointer hover:text-foreground;
      &[data-active] {
        @apply rounded-sm shadow-xs text-foreground bg-white;
      }
    }
  }
}

@utility card {
  --padding: calc(5 * 0.25rem);
  @apply p-[var(--padding)] border rounded-md border-gray-200 bg-background 
    hr:-mx-[var(--padding)] 
    hr:my-[var(--padding)]
    hr:border-gray-200;
}

@utility link-underline {
  @apply text-blue-600 hover:underline;
}

@utility meta-info-field-key {
  @apply font-medium;
}
@utility meta-info-field-value {
  @apply text-gray-500/80;
  & > a {
    @apply link-underline;
  }
}

@utility meta-info-grid {
  @apply flex flex-col gap-1 leading-relaxed font-medium break-word;
  & > div {
    @apply grid grid-cols-[10rem_1fr];
    & > *:first-child {
      @apply font-medium;
    }
    & > *:nth-child(2) {
      @apply meta-info-field-value;
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@utility fadeIn-* {
  animation: fadeIn 0.3s ease-out both;
  animation-delay: calc(--value(integer) * 1ms);
}
