@import "tailwindcss";
@import "./components.css";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-foreground-input: #1e2939;

  --text-base: 0.85rem;
  --text-sm: 0.8rem;
  --text-xs: 0.75rem;

  --font-twitter: TwitterChirp, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  --font-discord: "gg sans","Noto Sans","Helvetica Neue",Helvetica,Arial,sans-serif
}

@utility font-use-* {
  font-family: var(--value([*]))
}

body {
  font-size: 0.85rem;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@utility break-word{
  word-break: break-word;
  @apply break-words;
}

@custom-variant div (&>div);
@custom-variant second (&:nth-child(2));
@custom-variant hr (&>hr);
@custom-variant a (&>a);





/* Twitter Fonts */

@font-face {
  font-family: 'TwitterChirp';
  font-weight: 400;
  src: url('https://abs.twimg.com/responsive-web/client-web/Chirp-Regular.80fda27a.woff2') format('woff2');
}
@font-face {
  font-family: 'TwitterChirpBold';
  font-weight: 600;
  src: url('https://abs.twimg.com/responsive-web/client-web/Chirp-Bold.ebb56aba.woff2') format('woff2');
}
@font-face {
  font-family: 'TwitterChirpHeavy';
  font-weight: 700;
  src: url('https://abs.twimg.com/responsive-web/client-web/Chirp-Heavy.f44ae4ea.woff2') format('woff2');
}




@font-face {
    font-family: gg sans;
    font-style: normal;
    font-weight: 400;
    src: url(/api/proxy-font?url=https://discord.com/assets/66d715454104d24e.woff2) format("woff2")
}
@font-face {
    font-family: gg sans;
    font-style: italic;
    font-weight: 400;
    src: url(/api/proxy-font?url=https://discord.com/assets/dd24010f3cf7def7.woff2) format("woff2")
}
@font-face {
    font-family: gg sans;
    font-style: normal;
    font-weight: 500;
    src: url(/api/proxy-font?url=https://discord.com/assets/b272b33815319bae.woff2) format("woff2")
}
@font-face {
    font-family: gg sans;
    font-style: italic;
    font-weight: 500;
    src: url(/api/proxy-font?url=https://discord.com/assets/6a1346ad3821ff3c.woff2) format("woff2")
}
@font-face {
    font-family: gg sans;
    font-style: normal;
    font-weight: 600;
    src: url(/api/proxy-font?url=https://discord.com/assets/2df2c3ff74408972.woff2) format("woff2")
}
@font-face {
    font-family: gg sans;
    font-style: italic;
    font-weight: 600;
    src: url(/api/proxy-font?url=https://discord.com/assets/d5d789aeb6282532.woff2) format("woff2")
}
@font-face {
    font-family: gg sans;
    font-style: normal;
    font-weight: 700;
    src: url(/api/proxy-font?url=https://discord.com/assets/189422196a4f8b53.woff2) format("woff2")
}
@font-face {
    font-family: gg sans;
    font-style: italic;
    font-weight: 700;
    src: url(/api/proxy-font?url=https://discord.com/assets/ce3b8055f5114434.woff2) format("woff2")
}
@font-face {
    font-family: gg sans;
    font-style: normal;
    font-weight: 800;
    src: url(/api/proxy-font?url=https://discord.com/assets/b2fdbe507d6ce9ef.woff2) format("woff2")
}
@font-face {
    font-family: gg sans;
    font-style: italic;
    font-weight: 800;
    src: url(/api/proxy-font?url=https://discord.com/assets/03dcf979852e8b8e.woff2) format("woff2")
}
@font-face {
    font-family: gg mono;
    font-style: normal;
    font-weight: 400;
    src: url(/api/proxy-font?url=https://discord.com/assets/249d0a057895c668.woff2) format("woff2")
}
@font-face {
    font-family: gg mono;
    font-style: normal;
    font-weight: 700;
    src: url(/api/proxy-font?url=https://discord.com/assets/45efa6936fdfb918.woff2) format("woff2")
}