@import "tailwindcss";
@import "./globals.fonts.css";
@import "./components.css";

/* Root ----------------------------- */

body {
  font-size: 0.85rem;
  color: var(--color-foreground);
}

/* Tokens ----------------------------- */

@theme inline {
  --color-foreground: light-dark(var(--color-gray-800), var(--color-neutral-300));
  --color-foreground-muted: light-dark(var(--color-slate-500), var(--color-neutral-400));
  --color-foreground-muted-2: light-dark(var(--color-gray-500), var(--color-neutral-500));
  --color-foreground-muted-3: light-dark(--alpha(var(--color-gray-300) / 1), var(--color-neutral-600));
  --color-foreground-body: light-dark(--alpha(var(--color-gray-500) / 0.9), var(--color-neutral-400));

  --color-background: light-dark(var(--color-gray-50), var(--color-neutral-900));
  --color-background-muted: light-dark(#eceff4,#121312);
  --color-background-card: light-dark(#fff, #232424);

  --color-border: light-dark(#eceff4, #2f3030);
  --color-focus: light-dark(var(--color-slate-200), var(--color-neutral-800));
  --color-border-focus: light-dark(var(--color-slate-400), var(--color-neutral-700));

  /* Component Colors */
  --color-background-tooltip: light-dark(--alpha(var(--color-background-muted)/0.5),--alpha(var(--color-foreground-muted-2)/0.1));

  /* Accent Colors */
  --color-warning: light-dark(var(--color-yellow-500), --alpha(var(--color-yellow-500)/0.6));
  --color-error: light-dark(var(--color-red-400), --alpha(var(--color-red-400)/0.6));
  
  --font-sans: var(--font-pjs);
  --font-mono: var(--font-gm);
  --font-twitter: TwitterChirp, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  --font-discord: "gg sans", "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

  --color-foreground-input: #1e2939;

  --text-sm: 0.8rem;
  --text-xs: 0.75rem;
  --text-base: 0.85rem;
}

/* Utilities ----------------------------- */

@utility max-w-screen-* {
  max-width: --value(--breakpoint- *);
}
@utility font-use-* {
  font-family: var(--value([ *]));
}
@utility break-word {
  word-break: break-word;
  @apply break-words;
}
@utility container-* {
  max-width: --value(--breakpoint- *);
  max-width: calc(--value(integer) * 0.25rem);
  @apply mx-auto;
}
@utility clickable {
  @apply cursor-pointer active:translate-y-0.5;
}

/* Selectors ----------------------------- */

@custom-variant div (&>div);
@custom-variant second (&:nth-child(2));
@custom-variant hr (&>hr);
@custom-variant a (&>a);

/* Default Elements ----------------------------- */

@layer base {
  a {
    @apply clickable;
  }
  button {
    @apply text-sm rounded-md font-semibold
    clickable transition-all
    active:translate-y-0.5;
    &.normal {
      @apply px-5 py-2.5 text-xs;
    }
    &.primary {
      @apply bg-foreground text-background;
    }
  }
}

/* Components ----------------------------- */

@utility link-underline {
  color: light-dark(var(--color-blue-600), --alpha(var(--color-blue-400)/0.8));
  @apply hover:underline
}

@utility image-frame {
  @apply p-1 border border-border rounded-md overflow-hidden;
}

/* Tabs */

@utility tab {
  @apply flex w-full sm:w-auto 
  flex-wrap p-1.5 rounded-xl text-sm select-none isolate
  bg-background-muted;
  /* background: light-dark(var(--color-background-muted), var(--color-background-muted)); */
}

@custom-variant tab-item (&>.tab-item);
@utility tab-item {
  @apply px-5 p-2 
  text-foreground-muted 
  font-medium
  text-nowrap 
  hover:text-foreground;

  &[data-active] {
    @apply text-foreground;
  }
}

@custom-variant tab-background (&>.tab-background);
@utility tab-background {
  @apply absolute top-0 left-0 w-full h-full
  pointer-events-none -z-10 
  rounded-lg shadow-xs
  bg-background-card;

  /* background: light-dark(var(--color-background-card), var(--color-background-card)) */
}

/* Card */

@utility card {
  --padding: --spacing(5);
  @apply p-[var(--padding)]
    border rounded-md
    border-border
    bg-background-card;
  &:has(.card-content) {
    @apply py-0
  }
}

@utility card-content {
  @apply 
    py-[var(--padding)] 
    -mx-[var(--padding)] 
    px-[var(--padding)];

  &>hr {
    @apply -mx-[var(--padding)] my-[var(--padding)] border-border
  }
}

@utility card-tooltip {
  background-color: light-dark(--alpha(var(--color-background-muted)/0.5),--alpha(var(--color-background)/0.5));
}

/* Grid */

@utility meta-info-field-key {
  @apply font-medium text-foreground;
}

@utility meta-info-grid {
  @apply flex flex-col leading-relaxed font-normal break-word text-foreground-body;

  /* Meta Row */
  >div {
    @apply py-1 -mx-[var(--padding)] px-[var(--padding)] grid grid-cols-[10rem_1fr]
  }
  .meta-mute {
    @apply text-foreground-muted-3
  }
}

/* Smaller Components */
